<div class="social">
  <button mat-icon-button class="social-btn">
    <a href="https://www.linkedin.com/in/coltstreet/" target="_blank" class="social-icon"><i
        class="fab fa-linkedin fa-2x"></i></a>
  </button>
  <button mat-icon-button class="social-btn">
    <a href="https://github.com/COLTstreet" target="_blank" class="social-icon"><i
        class="fab fa-github-square fa-2x"></i></a>
  </button>
</div>
<div class="profile">
  <button mat-icon-button class="social-icon" (click)="showAboutMe = !showAboutMe" matTooltip="About Me!">
    <i class="fas fa-user fa-2x"></i>
  </button>
</div>
<div class="about-me-container" *ngIf="showAboutMe" [@slideInOut]>
  <div>
    <p class="text">
      Hi! My name is Colt Street and I am a full stack developer with a personal priority focus on front end
      development and web design. I currently reside in Charlotte, NC. and work for Data Ventures. Developing
      unique and engaging websites and web applications is a passion of mine. Most of my
      current work (along with this website) exhibits my proficiency in the utilization of Angular.
      However, I enjoy expanding my knowledge by learning new and exciting languages that will help to further my
      craft in web development.
    </p>
    <p class="text">
      When I'm not immersed in code and web applications, I enjoy sports of almost any kind. Because of the
      complexity and spontaneity of these two worlds, finding ways to incorporate web design and sports has become
      a passion of mine. Apart from this, my aspirations include exploring new ways to display and interact with the
      user, regardless of the content. Overall, I enjoy building websites and creating web applications, watching movies
      and playing basketball with my amazing wife (3x Co-Ed league champs), hanging out with our adorable
      Miniature Dachshund, watching my son grow up, sipping on a nice cold beer, and just enjoying what life decides to throw at me.
    </p>
  </div>
</div>
<div class="container-fluid h-100 bk">
  <div class="row h-100">
    <div class="col-12 toolbar">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="home-icon-button">
            <a href="https://hoopfire-api.firebaseapp.com" target="_blank" matTooltip="Hoopfire"><i
                class="fas fa-fire-alt"></i></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="home-icon-button">
            <a href="https://codepen.io/COLTstreet/pen/JxrPba" target="_blank" matTooltip="Responsive Bracket"><i
                class="fab fa-codepen"></i></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="home-icon-button">
            <a href="https://natriumefcu.com" target="_blank" matTooltip="Client Website"><i
                class="fas fa-money-check-alt"></i></a>
          </div>
        </ng-template>
      </owl-carousel-o>
      <!-- <div class="d-flex justify-content-center align-items-center">
        <div class="home-icon-button">
          <a href="https://hoopfire-api.firebaseapp.com" target="_blank" matTooltip="Hoopfire"><i
              class="fas fa-fire-alt"></i></a>
        </div>
        <div class="home-icon-button">
          <a href="https://codepen.io/COLTstreet/pen/JxrPba" target="_blank" matTooltip="Responsive Bracket"><i
              class="fab fa-codepen"></i></a>
        </div>
        <div class="home-icon-button">
          <a href="https://natriumefcu.com" target="_blank" matTooltip="Client Website"><i
              class="fas fa-money-check-alt"></i></a>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- <div class="container-flex">
  <section class="home">
    <div class="row h-100 align-items-center p-0 m-0">
      <div class="col-md-6 text-right">
        <ul>
          <li (click)="scrollTo('about-me')"><span class="link">About Me</span></li>
          <br>
          <li (click)="scrollTo('portfolio')"><span class="link">Portfolio</span></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="about-me" class="about-me row justify-content-center align-items-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="portrait" id="portrait">
        <div class="fill cover-img"></div>
        <div class="fill z-10 hover">
          <div class="fill cover-img hover-img"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-white text-center info-bk">
      <div class="text-sq info-text">
        <p>
          Hi! My name is Colt Street and I am a full stack developer with a personal priority focus on front end
          development and web design. I currently reside in Charlotte, NC. and work for Data Ventures. Developing
          unique
          and engaging websites and web applications is a passion of mine. Most of my
          current work (along with this website) exhibits my proficiency in the utilization of Angular.
          However, I enjoy expanding my knowledge by learning new and exciting languages that will help to further my
          craft in web development.
        </p>
        <p>
          When I'm not immersed in code and web applications, I enjoy sports of almost any kind. Because of the
          complexity and spontaneity of these two worlds, finding ways to incorporate web design and sports has become
          a
          passion of
          mine. Apart from this, my aspirations include exploring new ways to display and interact with the user,
          regardless of the content. Overall, I enjoy building websites and creating web applications, watching movies
          and playing basketball with my amazing fiancee (3x Co-Ed league champs), hanging out with our adorable
          Miniature
          Dachshund, sipping on a nice cold beer, and just trying to
          enjoy what life decides to throw at me.
        </p>
        <p>
          Check out my portfolio below and feel free to contact me with any suggestions/oppurtunities. Thanks for
          visiting my page and enjoy!
        </p>
      </div>
      <div>
        <button mat-icon-button class="social-btn" class="social-btn">
          <a href="https://www.linkedin.com/in/coltstreet/" target="_blank" class="text-white"><i
              class="fab fa-linkedin"></i></a>
        </button>
        <button mat-icon-button class="social-btn" class="social-btn">
          <a href="https://github.com/COLTstreet" target="_blank" class="text-white"><i
              class="fab fa-github-square"></i></a>
        </button>
      </div>
    </div>
  </section>
  <section id="portfolio" class="portfolio row justify-content-center align-items-center m-0 pr-0 pl-0">
    <div class="col-md-6">
      <div class="portfolio-sq">
        <div class="portfolio-sq-icon">
          <a href="https://codepen.io/COLTstreet/pen/JxrPba" target="_blank"><i class="fab fa-codepen"></i></a>
        </div>
      </div>
      <div class="portfolio-sq-title"><span class="link-sm">NCAA Bracket</span></div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-sq">
        <div class="portfolio-sq-icon">
          <a href="https://hoopfire-api.firebaseapp.com" target="_blank"><i class="fas fa-fire-alt"></i></a>
        </div>
      </div>
      <div class="portfolio-sq-title"><span class="link-sm">HoopFire</span></div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-sq">
        <div class="portfolio-sq-icon">
          <a href="https://natriumefcu.com" target="_blank"><i class="fas fa-money-check-alt"></i></a>
        </div>
      </div>
      <div class="portfolio-sq-title"><span class="link-sm">Natrium FCU</span></div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-sq">
        <div class="portfolio-sq-icon">
          <a href="https://codepen.io/COLTstreet/pen/zRbqaQ" target="_blank"><i class="fab fa-codepen"></i></a>
        </div>
      </div>
      <div class="portfolio-sq-title"><span class="link-sm">Craigslist Redesign</span></div>
    </div>
  </section>
  <section id="footer" class="footer">
    <div class="text-center">
      <a class="text-white" href="mailto:colt.k.street@gmail.com" target="_top">colt.k.street@gmail.com</a>
    </div>
  </section>
</div> -->
