mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #212121;
  color: #cddc39;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.spacer {
  flex: 1 1 auto;
}

.content {
  height: calc(100vh - 100px);
  border-radius: 10px;
  margin: 16px 0px 0px 32px;
  overflow: hidden;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.logo {
  width: 45%;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.header-toolbar {
  background: #212121;
  color: white;
}

.cv-icon-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .cv-button {
    display: none;
  }

  .cv-icon-button {
    display: block;
  }
}