<mat-grid-list class="h-100 no-mobile" cols="6" rowHeight="fit">
  <mat-grid-tile [colspan]="3" [rowspan]="1" class="red-square">
    <span>Design</span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="stripes-square">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" class="yellow-square">
    <img src="../../../assets/ice-cream-basketball.png" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2" class="yellow-square">
    <img src="../../../assets/All-Together.png" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" class="purple-square">
    Code
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="blue-square">
    <img src="../../../assets/HoopFire.png" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" class="blue-square">
    <img src="../../../assets/astronaut-kobe.png" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" class="red-square">
    <span>Create</span>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list class="h-100 mobile" cols="1" rowHeight="fit">
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="red-square">
    <span>Design</span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="purple-square">
    Code
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="alt-blue-square">
    <span>Create</span>
  </mat-grid-tile>
</mat-grid-list>