<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="text-white">
        <h4>My name is Colt Street.</h4>
        <p>I am a full stack developer
          with a personal priority focus on front end development and web design. I currently reside in Charlotte, NC.
          and work for Data Ventures. Developing unique and engaging websites and web applications is a passion of mine.
          Most of my current work (along with this website) exhibits my proficiency in the utilization of Angular.
          However, I enjoy expanding my knowledge by learning new and exciting languages that will help to further my
          craft in web development. </p>
        <p> When I'm not immersed in code and web applications, I enjoy
          sports of almost any kind. Because of the complexity and spontaneity of these two worlds, finding ways to
          incorporate web design and sports has become a passion of mine. Apart from this, my aspirations include
          exploring new ways to display and interact with the user, regardless of the content. Overall, I enjoy building
          websites and creating web applications, watching movies and playing basketball with my amazing wife (3x Co-Ed
          league champs), hanging out with our adorable Miniature Dachshund, watching my son grow up, sipping on a nice
          cold beer, and just enjoying what life decides to throw at me. </p>
      </div>
    </div>
    <div class="col-md-6 order-first-md stripes">
      <div class="d-flex justify-content-center align-items-center">
        <img src="../../../assets/about-me-side.jpg" class="w-75" />
      </div>
    </div>
  </div>
</div>